Repository pinatacolada/topskylppc, pull requests merged in 2025-04, with the labels that each got.

#963 Port several long maps to GNG
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Tweak, TopSky

#964 Delete .gitlab-ci.yml
  .gitlab-ci.yml
Labels: DevOps

#974 Revert "Remove DIRUP"
  LPPC/ASR/LPFR_GND.asr
  LPPC/ASR/LPFR_TWR.asr
  LPPC/ASR/LPMA_GND.asr
  LPPC/ASR/LPMA_TWR.asr
  LPPC/ASR/LPPC_CTR.asr
  LPPC/ASR/LPPR_APP.asr
  LPPC/ASR/LPPR_GND.asr
  LPPC/ASR/LPPR_TWR.asr
  LPPC/ASR/LPPT_GND.asr
  LPPC/ASR/LPPT_TWR.asr
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: DevOps

#975 Remove DIRUP
  LPPC/ASR/LPFR_GND.asr
  LPPC/ASR/LPFR_TWR.asr
  LPPC/ASR/LPMA_GND.asr
  LPPC/ASR/LPMA_TWR.asr
  LPPC/ASR/LPPC_CTR.asr
  LPPC/ASR/LPPR_APP.asr
  LPPC/ASR/LPPR_GND.asr
  LPPC/ASR/LPPR_TWR.asr
  LPPC/ASR/LPPT_GND.asr
  LPPC/ASR/LPPT_TWR.asr
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Tweak, TopSky

#977 Remove DIRUP
  LPPC/ASR/LPFR_GND.asr
  LPPC/ASR/LPFR_TWR.asr
  LPPC/ASR/LPMA_GND.asr
  LPPC/ASR/LPMA_TWR.asr
  LPPC/ASR/LPPC_CTR.asr
  LPPC/ASR/LPPR_APP.asr
  LPPC/ASR/LPPR_GND.asr
  LPPC/ASR/LPPR_TWR.asr
  LPPC/ASR/LPPT_GND.asr
  LPPC/ASR/LPPT_TWR.asr
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Tweak, TopSky

#980 Add Apron 70 PDx stands
  LPPC/Plugins/GroundRadar/GRpluginStands.txt
Labels: Feature, Ground Radar

#983 Increase wingspan of stand 314@LPFR
  LPPC/Plugins/GroundRadar/GRpluginStands.txt
Labels: Tweak, Ground Radar

#984 Update README.md
  README.md
Labels: Documentation

#985 Fix release script
  .github/workflows/makerelease.yml
Labels: DevOps

#986 Fix release script again
  .github/workflows/makerelease.yml
Labels: DevOps

#960 Ground Radar 1.6 beta 2
  LPPC/Plugins/GroundRadar/Documentation/Ground Radar plugin for EuroScope - Developer Guide.pdf
  LPPC/Plugins/GroundRadar/Documentation/Ground Radar plugin for EuroScope - General.pdf
  LPPC/Plugins/GroundRadar/Documentation/Ground Radar plugin for EuroScope - Version History.pdf
  LPPC/Plugins/GroundRadar/GRplugin.dll
  LPPC/Plugins/GroundRadar/GRpluginMaps.txt
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
  LPPC/Plugins/GroundRadar/GRpluginStands.txt
  README.md
Labels: Update, Ground Radar

#962 3 letter SID
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
  LPPC/TOPLIS Manual.pdf
Labels: Feature, Ground Radar

#904 new west sector
  LPPC/Plugins/topsky/TopSkyCPDLC.txt
  LPPC/Plugins/topsky/TopSkyMaps.txt
  LPPC/Settings/VCCS.txt
Labels: Tweak, TopSky

#988 Implement Groundradar at LPFR
  LPPC/ASR/LPFR_GND_TSGR.asr
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Feature, Ground Radar
