Repository pinatacolada/topskylppc, pull requests merged in 2025-05, with the labels that each got.

#976 AIRAC 2505
  LPPC/ASR/LPFR_GND.asr
  LPPC/ASR/LPFR_TWR.asr
  LPPC/ASR/LPMA_GND.asr
  LPPC/ASR/LPMA_TWR.asr
  LPPC/ASR/LPPC_CTR.asr
  LPPC/ASR/LPPR_APP.asr
  LPPC/ASR/LPPR_GND.asr
  LPPC/ASR/LPPR_TWR.asr
  LPPC/ASR/LPPT_GND.asr
  LPPC/ASR/LPPT_TWR.asr
  LPPC/Plugins/topsky/TopSkyCPDLC.txt
  LPPC/Plugins/topsky/TopSkyMaps.txt
  LPPC/Plugins/topsky/TopSkySettings.txt
  LPPC/Settings/VCCS.txt
Labels: Tweak, TopSky

#990 Reduce spurious MTCD inside of TMAs
  LPPC/Plugins/topsky/TopSkyAreas.txt
Labels: Tweak

#991 Update LPPC LFUNCs
  LPPC/Plugins/topsky/TopSkyCPDLC.txt
  LPPC/Plugins/topsky/TopSkyMaps.txt
  LPPC/Settings/VCCS.txt
Labels: Tweak, TopSky

#992 Close LPPT T2 during Summer season
  LPPC/Plugins/GroundRadar/GRpluginMaps.txt
Labels: Tweak, Ground Radar

#993 Open T2 during LVP
  LPPC/Plugins/GroundRadar/GRpluginMaps.txt
Labels: Tweak, Ground Radar

#994 Remove TAXI SP
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Revert/Removal, Ground Radar
