Repository pinatacolada/topskylppc, pull requests merged in 2025-02, with the labels that each got.

#887 Various map updates
  LPPC/Plugins/topsky/TopSkyMaps.txt
  LPPC/Settings/Symbology_TopSky.txt
Labels: Tweak

#865 CDM v2.2.5.1
  .gitignore
  LPPC/Plugins/ACDM/CDM.dll
  LPPC/Plugins/ACDM/CDMconfig.xml
  LPPC/Plugins/ACDM/colors.txt
  LPPC/Plugins/ACDM/taxizones.txt
  LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.tex
  LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/topskycolors.sty
  LPPC/Settings/DepartureList_TopSky.txt
  LPPC/Settings/DepartureList_TopSky_ACS.txt
  LPPC/Settings/DepartureList_TopSky_APS.txt
  LPPC/TOPLIS Manual.pdf
  README.md
Labels: Update

#900 Enables mode-s correlation
  LPPC/Settings/General_TopSky.txt
Labels: Tweak

#902 Removes AFV from readme.md
  README.md
Labels: Documentation

#899 LFUNC Update
  LPPC/Plugins/topsky/TopSkyCPDLC.txt
  LPPC/Plugins/topsky/TopSkyMaps.txt
  LPPC/Settings/VCCS.txt
Labels: Tweak

#914 GroundRadar Symbology
  LPPC/Plugins/GroundRadar/GRpluginSymbols.txt
Labels: Feature

#915 Hide taxiway data from GR map selection
  LPPC/Plugins/GroundRadar/GRpluginMaps.txt
Labels: Tweak, Ground Radar

#916 Disable safety nets in non gr airports
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Revert/Removal, Ground Radar

#917 Add QNH and METAR windows to Ground Radar
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Feature, Ground Radar

#918 Hide Ground Radar Inbound Outbound and Alerts lists in non gr airports
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Revert/Removal, Ground Radar

#920 Set Downstream Predicted limit to 15 minutes
  LPPC/Plugins/topsky/TopSkySettings.txt
Labels: Tweak, TopSky

#922 Informed state
  LPPC/Plugins/topsky/TopSkySettings.txt
Labels: Feature, TopSky

#923 Update pcas map
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Tweak, TopSky

#925 Force GR to use sector file mode A and S
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Tweak, Ground Radar

#927 CDM 2.2.5.2
  LPPC/Plugins/ACDM/CDM.dll
  LPPC/Plugins/ACDM/CDMconfig.xml
Labels: Update, CDM

#929 fix inb and outb list default position setting error
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Fix, Ground Radar
