Repository pinatacolada/topskylppc, pull requests merged in 2025-03, with the labels that each got.

#930 change DEPL SID column to accomodate RAD DCT hacks
  LPPC/Settings/DepartureList_TopSky.txt
  LPPC/Settings/DepartureList_TopSky_ACS.txt
  LPPC/Settings/DepartureList_TopSky_APS.txt
Labels: Tweak

#931 Always show Stand List
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
Labels: Tweak, Ground Radar

#932 Change stand area definitions to polygons
  LPPC/Plugins/GroundRadar/GRpluginStands.txt
Labels: Tweak, Ground Radar

#912 TWRLIS map update
  LPPC/Plugins/topsky/TopSkyMaps.txt
  LPPC/Plugins/topsky/TopSkySettings.txt
Labels: Tweak, TopSky

#940 CDM 2.2.5.3
  LPPC/Plugins/ACDM/CDM.dll
  LPPC/Plugins/ACDM/CDMconfig.xml
  README.md
Labels: Update

#941 Use E/TOBT
  LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.tex
  LPPC/Settings/DepartureList_TopSky.txt
  LPPC/Settings/DepartureList_TopSky_ACS.txt
  LPPC/Settings/DepartureList_TopSky_APS.txt
  LPPC/TOPLIS Manual.pdf
Labels: Tweak, CDM

#942 FPCA beyond LPPC
  LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.tex
  LPPC/Plugins/topsky/TopSkyAreas.txt
  LPPC/TOPLIS Manual.pdf
Labels: Feature

#943 10NM MTCD outside LPPC
  LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.tex
  LPPC/Plugins/topsky/TopSkyAreas.txt
  LPPC/TOPLIS Manual.pdf
Labels: Tweak, TopSky

#946 Fix TOFEF label
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Fix

#921 Approach Clearance Field
  LPPC/Plugins/topsky/TopSkySettings.txt
Labels: Feature, TopSky

#949 Disable P-RNAV airports
  LPPC/Plugins/topsky/TopSkySettings.txt
Labels: Tweak, TopSky

#952 Fix ACS and APS wrong EAT item in TML
  LPPC/Settings/Plugins_ACS.txt
  LPPC/Settings/Plugins_APS.txt
Labels: Fix

#954 Add 🇵🇹🇵🇹🇵🇹Selvagens🇵🇹🇵🇹🇵🇹🇵🇹🇵🇹 to shore map
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Tweak

#956 MTCD spurious level conflicts
  LPPC/Plugins/topsky/TopSkyAreas.txt
Labels: Fix, TopSky

#957 Add GVH VA to LPPT T1
  LPPC/Plugins/GroundRadar/GRpluginStands.txt
Labels: Tweak, Ground Radar

#958 Add LPAZ TMA, Sao Miguel and Santa Maria islands
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Feature, TopSky
