Repository pinatacolada/topskylppc, pull requests merged in 2025-06, with the labels that each got.

#1007 Update LPFR stands critical aircraft
  LPPC/Plugins/GroundRadar/GRpluginStands.txt
Labels: Tweak

#1008 Redo ENR REP map folder
  LPPC/Plugins/topsky/TopSkyMaps.txt
  LPPC/Plugins/topsky/TopSkySettings.txt
Labels: Tweak, TopSky

#1012 Ground Radar 1.6.3
  LPPC/Plugins/GroundRadar/Documentation/Ground Radar plugin for EuroScope - Developer Guide.pdf
  LPPC/Plugins/GroundRadar/Documentation/Ground Radar plugin for EuroScope - General.pdf
  LPPC/Plugins/GroundRadar/Documentation/Ground Radar plugin for EuroScope - Version History.pdf
  LPPC/Plugins/GroundRadar/GRplugin.dll
  LPPC/Plugins/GroundRadar/GRpluginSettings.txt
  README.md
Labels: Update, Ground Radar

#1013 Transparent closed taxiway maps
  LPPC/Plugins/GroundRadar/GRpluginMaps.txt
Labels: Tweak, Ground Radar

#1014 Add WUSHI to rep outs maps
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Tweak, TopSky

#1016 Refine rep_main
  LPPC/Plugins/topsky/TopSkyMaps.txt
Labels: Tweak, TopSky
